#card{
    width: 50%;
    margin-top: 60px;
    margin-inline: inherit;
}

#icons{
    font-size: 25px;
}

/* Hide number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


th {
    font-weight: bold;
    font-weight: 500;
}

select{
    display: block;
}

#status{
    display: inline;
}



